<ion-header>
  <ion-toolbar>
    <ion-title>เช็คลอตเตอรี่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>สลากกินแบ่งรัฐบาลเมื่อวันที่ 16 ตุลาคม 2563</h5>
  <ion-list>
    <ion-item>
      <ion-label>รางวัลที่หนึ่ง</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{first}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รางวัลใกล้เคียง</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{nearfirststart}}</ion-label>
      <ion-label>{{nearfirstend}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รางวัลเลขหน้าสามตัว</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{threestartone}}</ion-label>
      <ion-label>{{threestarttwo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รางวัลเลขท้ายสามตัว</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{threeendone}}</ion-label>
      <ion-label>{{threeendtwo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รางวัลเลขท้ายสองตัว</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{twoend}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
